<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Training</title>
    <script src="/static/js/vue.js"></script>
    <style>

    </style>
</head>
<body>
    <div id="app">
        <div class="header" >
            <div v-if="is_login" class="islogin" >
                <div>
                    <p>你好 <span class="posts_count">${ user_name }</span></p>
                </div>
                <div>
                    <p>微博 <span class="posts_count">${ posts_count }</span></p>
                </div>
                <div>
                    <p>关注 <span class="follows_count">${ follows_count }</span></p>
                </div>
                <div>
                    <p>粉丝 <span class="fans_count">${ fans_count }</span></p>
                </div>
                <div>
                    <p><a :href="message_url" class="message">消息</a> <span class="messages_count"> ${ messages_count }</span></p>
                </div>
                <div>
                    <p><span class="create_post"> <a href="/v1/post/create">写微博</a></span></p>
                </div>
                <div>
                    <button v-on:click="logout" class="logout">退出</button>
                </div>

            </div>

            <div v-else>
                <a href="/v1/login" class="login">登录</a>
                <a href="/v1/register" class="register">注册</a>
            </div>
        </div>

        <div class="content">
            <div class="posts">
                <ul>
                    <li v-for="(post) in posts" :data-id="post.id"  class="post" >
                        <div style="border: black;border-style: solid">
                            <div>
                                用户名: ${ post.user_name }
                                <button v-on:click="follow" :data-user-id="post.user_id" v-if="user_id != post.user_id" >关注</button>
                            </div>
                            <div>
                                内容： ${ post.content }
                            </div>
                            <div>
                                点赞数: <span v-bind:id="'likes-count-'+ post.id">${ likes_counts[post.id] }</span>
                            </div>
                            <div v-if="user_id != post.user_id">
                                <button class="like" :data-user-id="post.user_id" :data-post-id="post.id" v-on:click="like">赞</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div v-if="page_count > 1" class="page" >
                <a v-if="current_page > 1 && current_page <= page_count" v-bind:href="'/v1/?page=' + (current_page - 1)" >上一页</a>
                <a v-for="page in page_count" v-bind:href="'/v1/?page=' + page"> &nbsp; ${ page } &nbsp;</a>
                <a v-if="current_page >= 1 && current_page < page_count" v-bind:href="'/v1/?page=' + (current_page + 1)" >下一页</a>

            </div>
        </div>

    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            posts_count: {{ .PostsCount }},
            follows_count: {{ .FollowsCount }},
            fans_count: {{ .FansCount }},
            messages_count: {{ .MessagesCount }},
            is_login: {{ .IsLogin }},
            posts: {{ .Posts }},
            likes_counts: {{ .LikesCounts}},
            user_id: {{ .UserId }},
            user_name: {{ .UserName }},
            message_url: '/v1/like/'+ {{ .MessagesCount }},
            current_page: {{ .CurrentPage }},
            page_count: {{ .PageCount }}
        },
        delimiters: ['${', '}'],
        methods: {
            like : like,
            logout : logout,
            follow: follow,
        }
    });

    // 关注
    function follow(event) {
        let data = "followed_id=" + event.target.getAttribute('data-user-id');

        fetch("/v1/follow", {
            method: "POST",
            body: data,
            headers: {
                "Content-Type": "application/x-www-form-urlencoded"
            },
            credentials: "include"      // cookie
        }).then(function(response) {

            response.json().then(function (data) {
                if (data.code == 0) {
                    app.follows_count ++;
                    alert("关注成功");
                    //location.reload()
                } else {
                    alert("code:" + data.code + "  message:" + data.message + data.data);
                    return
                }
            });

        }, function(error) {
            console.log(error.message)
        })
    }

    // 点赞
    function like(event) {
        let data = "to_user_id=" + event.target.getAttribute('data-user-id')
                + "&post_id=" + event.target.getAttribute("data-post-id");

        fetch("/v1/like", {
            method: "POST",
            body: data,
            headers: {
                "Content-Type": "application/x-www-form-urlencoded"
            },
            credentials: "include"      // cookie
        }).then(function(response) {

            response.json().then(function (data) {
                if (data.code == 0) {
                    let post_id = event.target.getAttribute("data-post-id");
                    let key = "likes-count-" + post_id;
                    let likes_count = document.getElementById(key).textContent;
                    document.getElementById(key).textContent = parseInt(likes_count) + 1;

                    alert("点赞成功");
                    // location.reload()
                } else {
                    alert("code:" + data.code + "  message:" + data.message + data.data);
                    return
                }
            });

        }, function(error) {
            console.log(error.message)
            //error.message //=> String
        })
    }

    // 退出
    function logout(event) {
        document.cookie = "Authorization=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
        location.reload();
    }

</script>

</html>