<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>消息</title>
    <script src="/static/js/vue.js"></script>

</head>
<body>
    <div><a href="/v1/">返回首页</a></div>
    <div id="app" class="messages">
        <ul>
            <li v-for="(message) in messages">
                <p> ${ message.from_user_name } 刚刚给你的微博点了赞 </p>
            </li>
        </ul>
    </div>
</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            messages: {{ .Data }},

        },
        delimiters: ['${', '}'],
    });
</script>
</html>