<html>
  <head>
    {% if title %}
    <title>{{title}} - flask-demo</title>
    {% else %}
    <title>flask-demo</title>
    {% endif %}
  </head>
  <body>
    <div>Nav:
        <a href="{{ url_for('main.index') }}">Home</a>
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('auth.login') }}">登录</a>
        {% else %}
            <a href="{{ url_for('main.user', username=current_user.username) }}">个人主页</a>
            <a href="{{ url_for('auth.logout') }}">退出</a>
        {% endif %}
        <a href="{{ url_for('main.explore') }}">发现</a>

    </div>
    <hr>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </body>

</html>
